@model MVCSTOCK.Models.Entity.TBLCUSTOMERS
@{
    ViewBag.Title = "NewCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <form method="post" class="form-group">
        <div>
            <label>Customer Name</label>
            @Html.TextBoxFor(m => m.CUSTOMERNAME, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CUSTOMERNAME, "", new { @style = "color:yellow" })

        </div>
        <div>
            <label>Customer Lastname</label>
            @Html.TextBoxFor(m => m.CUSTOMERLASTNAME, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CUSTOMERLASTNAME, "", new { @style = "color:blue" })

        </div>

        
        <div style="margin-top:15px">
            <button class="btn btn-info">Add Customer</button>

        </div>

    </form>

